@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DE-Store</h1>
</div>
<div class="row">
@*<div class="text-center">*@
    <div class="col-md-4">
    @*<div class="display-4">*@
        <h2>Welcome to DE-Store</h2>
        <p>
            DE-Store is a prototype created for Coursework for Software Architecture module in Napier.
        </p>
    </div>
</div>